.no-style-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.no-style-list li {
  float: right;
  border: gray 2px solid;
  border-radius: 5px;
  color: gray;
  font-size: 14px;
  margin: 1px;
  padding: 1px;
}

.no-style-list li span {
  border-right: gray 2px solid;
  padding: 0 10px;
}

.no-style-list li span:last-child {
  border-right: 0;
}

.no-style-list li.busy {
  border-color: orangered;
  color: orangered;
}

.no-style-list li.busy span {
  border-color: orangered;
}
